.input-container{
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    .input-title{
        font-weight:bold;
        margin:10px 0;
    }
    .input-value{
        width:200px;
        height:30px;
        display:flex;
        line-height:normal;
        font-family: inherit; 
        border: 1px solid #999;
        border-radius: 0;
    }
    button{
        cursor:pointer;
        color:#fff;
        background-color:#04c584;
        border:0;
        border-radius:4px;
    }
    button:hover{ 
        background-color:#10df99;
    }
    .input-common-button{
        display:flex;
        justify-content: space-around;
        margin:10px;
    }
}

.input-github-button{
    display:flex;
    justify-content: center;
    button{
        background-color:#6E6E6E;
        width:50%;
        color:#fff;
        border-radius:4px;
    }
    button:hover{
        background-color: #2E2E2E;
    }
}